@import url('css/bootstrap.css'); 
@import url('css/global.css'); 
@import url('css/responsive.css'); 
.main-navigation ul li a{ text-transform: uppercase;}
.glry_img_load{float:left;width:100%;text-align:center;padding:30px 20px;}
			.glry_img_load>img{border-radius:100%;}
			.glry_img_load>p{font-size:20px;margin:0;}
